In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pycountry

### Combining the files in /features
 - [GDP](features/GrossDomesticProduct.csv)
 - [HDI](features/HumanDevelopementIndex.csv)
 - [WDI](features/WorldDevelopmentIndicaton.csv)

In [68]:
## Preprocessing WDI
# Read in WDI data
wdi_raw = pd.read_csv('features/WorldDevelopmentIndicaton.csv', encoding='latin-1', engine='python')
wdi=wdi_raw.drop(['Country Name', 'Series Code'], axis=1)
wdi=wdi.rename(columns={'Country Code':'country', 'Series':'feature'})
wdi=wdi.set_index(['country', 'feature'])
wdi=wdi.stack().reset_index()
wdi=wdi.rename(columns={'level_2':'year', 0:'value'})
wdi['year']=wdi['year'].apply(lambda x: int(x[:4]))
wdi=wdi.set_index(['country', 'year'])
wdi['value']=wdi['value'].apply(lambda x: x if x != '..' else np.nan)
wdi.dropna(inplace=True)
wdi.sort_index(inplace=True)
wdi

                                                        feature     value
country year
AUS     2000  All staff compensation as % of total expenditu...  73.66373
        2000  All staff compensation as % of total expenditu...  66.72803
        2000  All staff compensation as % of total expenditu...  75.69741
        2000  All staff compensation as % of total expenditu...  68.32235
        2000  All staff compensation as % of total expenditu...  72.82737
...                                                         ...       ...
USA     2020  End month of the academic school year (pre-pri...         5
        2020  End of the academic school year (pre-primary t...      2020
        2020  Official entrance age to lower secondary educa...        12
        2020  Official entrance age to primary education (ye...         6
        2020  Official entrance age to upper secondary educa...        15

[379515 rows x 2 columns]

In [67]:
## Preprocessing HDI
# Read in HDI data
hdi_raw = pd.read_csv('features/HumanDevelopementIndex.csv', encoding='latin-1', engine='python')
hdi=hdi_raw.drop(['country'], axis=1)
hdi=hdi.rename(columns={'iso3':'country'})
hdi_keep=[f'hdi_20{i}' if i>9 else f'hdi_201{i}' for i in range(20) ]+['country','hdi_2020']
hdi=hdi[hdi_keep]
hdi=hdi.set_index('country')
hdi=hdi.stack().reset_index()
hdi=hdi.rename(columns={'level_1':'year', 0:'value'})
hdi['year']=hdi['year'].apply(lambda x: int(x[4:]))
hdi['feature']='hdi'
hdi=hdi.set_index(['country', 'year'])

              value feature
country year
AFG     2010  0.448     hdi
        2011  0.456     hdi
        2012  0.466     hdi
        2013  0.474     hdi
        2014  0.479     hdi

In [15]:
## Preprocessing GDP
# Read in GDP data
gdp_raw = pd.read_csv('features/GrossDomesticProduct.csv', encoding='latin-1', engine='python')